.battle-image {
    height: 250px;
    width: 250px;

    margin: auto;
}
.game-chat {
    width: 75%;
    border: 2px solid black;
    align-self: normal;
}

.actions {
    border: 2px solid black;
    width: 25%;
}